* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/*COLORS*/
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
}

body {
  background-color: var(--navy);
}

header {
  width: 100%;
  height: 10vh;
}

/*NAVBAR*/
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
}

li a {
  color: var(--light-slate);
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

li a:hover {
  color: var(--green);
}

.number{
  margin-right: 5px;
  font-family: 'Err Hostess', sans-serif;
  color: var(--green);
}

.logo-img {
  margin: 10px 0 0 10px;
  height: 8vh;
  width: auto;
  margin-left: 25px;
}

.CV {
  border: 2px solid var(--green);
  border-radius: 6px;
  margin-right: 30px;
}

.CV a {
  text-decoration: none;
  color: var(--green);
  position: relative;
  display: block;
  padding: 12px;
}

.CV:hover {
  background-color: var(--green);
}

.CV a:hover{
  color: var(--nav);
}

/*MAIN*/
.home {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  height: 85vh;
  box-sizing: border-box;
}

/*SECTION 1*/
.main-hero {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex: 1;
  max-width: 75%;
}

.name-text {
  color: var(--green);
  margin-bottom: 15px;
  font-size: 35px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.name {
  color: var(--light-slate);
  font-size: 100px;
}

.build-text {
  color: var(--dark-slate);
  font-size: 50px;
  margin-bottom: 20px;
}

.description {
  max-width: 50%;
  color: var(--dark-slate);
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-btn {
  border: 2px solid var(--green);
  border-radius: 6px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  max-width: 250px;
  color: var(--green);
  transition: border 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
  color: var(--light-slate);
  border-color: var(--light-slate);
}

/*SOCIALS*/

.socials {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.icons {
  text-decoration: none;
  color: var(--lightest-slate);
  font-size: 25px;
  transition: color 0.3s ease;
}

.icons:hover {
  color: var(--green);
}

/*PROJECTS*/

.projects {
  height: auto;
  width: 75%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.project {
  border: 5px solid var(--lightest-navy);
  border-radius: 8px;
  background-color: var(--lightest-navy);
  width: 100%;
  height: 50vh;
}

.project-img {
  position: relative;
  display: block;
  width: 100%;
  height: 75%;
  background-image: url(/img/pngtree-white-spot-float-image_1256405.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--green);
  opacity: 0.4;
  transition: opacity 0.4s ease;
}

.project-img:hover::after {
  opacity: 0;
}

.project-name {
  padding-top: 10px;
  color: var(--green);
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.project-text {
  width: 100%;
  height: 25%;
  padding-top: 15px;
  font-size: 15px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  color: var(--lightest-slate);
}

/*ABOUT ME*/
.aboutme{
  width: 65%;
  margin: 250px auto auto auto;
  height: auto;
  display: flex;
  gap: 50px;
}

.aboutme-text-container{
  width: 60%;
  height: 60vh;
}

.aboutme-img-container{
  border: 3px solid var(--dark-slate);
  background: var(--dark-slate);
  border-radius: 8px;
  width: 30%;
  height: 40vh;
  margin-top: 40px;
}

.aboutme-text{
  color: var(--light-slate);
  font-size: 20px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin: 0 auto;
}

.aboutme-img{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/img/pngtree-white-spot-float-image_1256405.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  transition: margin-top 0.3s ease, margin-left 0.3s ease;
}

.aboutme-img:hover{
  margin-left: 20px;
  margin-top: 20px;
}

.aboutme-img-container:hover{
  border: none;
}

/*CONTACT*/

.contact{
  width: 50%;
  margin: 250px auto auto auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-header{
  color: var(--green);
  font-size: 38px;
  margin-bottom: 22px;
  font-family: 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.contact-text{
  color: var(--slate);
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 22px;
  width: 75%;
}

.mail-btn{
  border: 2px solid var(--green);
  border-radius: 6px;
  width: 200px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  color: var(--green);
  margin-bottom: 50px;
  transition: border 0.3s ease, color 0.3s ease;
}

.mail-btn:hover{
  color: var(--light-slate);
  border-color: var(--light-slate);
}

/*FOOTER*/
footer{
  width: 50%;
  margin: 150px auto auto auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  color: var(--lightest-navy);
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.copyright:hover{
  color: var(--green);
}